<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="30">

    <Properties>
        <Property name="LOG_PATH">./logs/starter.log</Property>
        <!--<Property name="LOG_FORMAT">[%date{yyyy-MM-dd HH:mm:ss}] %level %logger{36}(%file:%line) - %msg%n</Property>-->
        <Property name="LOG_FORMAT">%date{yyyy-MM-dd HH:mm:ss}] [%t] [%equals{%X{trace_id}}{}{startup}]%-5level %logger{36}(%F:%L) - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_FORMAT}"/>
        </Console>

        <RollingFile name="file" fileName="${LOG_PATH}" filePattern="${LOG_PATH}_%d{yyyy-MM-dd}_%i.log">
            <PatternLayout pattern="${LOG_FORMAT}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />               <!-- 10MB 용량이 초과시 DefaultRolloverStrategy 정책만큼 넘버링 -->
                <TimeBasedTriggeringPolicy module="true" interval="1" /><!-- 일별 로그 파일 생성-->
            </Policies>
            <DefaultRolloverStrategy max="500" fileIndex="min" /><!-- 롤링 파일 500개 까지 생성 -->
        </RollingFile>
    </Appenders>

    <!--Log 대상 설정-->
    <!--TRACE > DEBUG > INFO > WARN > ERROR > FATAL -->
    <Loggers>

        <Logger name="org.springframework" level="ERROR" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="file" />
        </Logger>

        <!-- Root logger -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="file" />
        </Root>

    </Loggers>
</Configuration>